@model EFGetStarted.AspNetCore.NewDb.Models.Product

<h2>@ViewData["Title"]</h2>

<h3>האם אתה בטוח שברצונך למחוק מוצר זה?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="מחק" class="btn btn-default" /> |
        <a asp-action="Index">בחזרה לרשימה המלאה</a>
    </form>
</div>
