@model EFGetStarted.AspNetCore.NewDb.Models.Product

<h2>@ViewData["Title"]</h2>

<div>
    <h4>מוצר</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PictureName)
        </dt>
        <dd>
            <img style="height: 10vh;width: 6vw;"
                 src=@System.String.Format("/images/products/{0}",Model.PictureName) />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">ערוך</a> |
    <a asp-action="Index">בחזרה לרשימה המלאה</a>
</div>
