@model IEnumerable<EFGetStarted.AspNetCore.NewDb.Models.Product>

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th style="text-align:right">
                תמונה
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                <img style="height: 10vh;width: 6vw;" 
                     src=@System.String.Format("/images/products/{0}.jpg",item.id) />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
