@model EFGetStarted.AspNetCore.NewDb.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h2>מחק משתמש</h2>

<h3>אתה בטוח שברצונך למחוק משתמש זה?</h3>
<div>
    <hr />
    <div>
        <label style="width:100px">@Html.DisplayNameFor(model => model.Username):</label>
        @Html.DisplayFor(model => model.Username)
    </div>
    <div>
        <label style="width:100px">@Html.DisplayNameFor(model => model.Password):</label>
        @Html.DisplayFor(model => model.Password)
    </div>
    <div>
        <label style="width:100px">@Html.DisplayNameFor(model => model.Address):</label>
        @Html.DisplayFor(model => model.Address)
    </div>
    <div>
        <label style="width:100px">@Html.DisplayNameFor(model => model.Gender):</label>
        @{
            if (Model.Gender == false)
            { <text>זכר</text> }
        else
        { <text>נקבה</text> }
        }
    </div>
    <div>
        <label style="width:100px">@Html.DisplayNameFor(model => model.IsAdmin):</label>
        @Html.DisplayFor(model => model.IsAdmin)
    </div>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחק" class="btn btn-default" /> |
        <a asp-action="Index">בחזרה לרשימת המשתמשים</a>
    </form>
</div>